/CloverEdc.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
# Ignore build output
bin/
obj/

# Ignore build artifacts
*.dll
*.pdb
*.exe
*.cache

# Ignore user-specific files
*.user
*.suo
*.userosscache

# Ignore Visual Studio Code settings
.vscode/

# Ignore package management files
*.log
*.vs/
packages/

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore lock files
project.lock.json
*.lock.json

# Ignore Rider IDE files (if applicable)
.idea/
*.sln.iml

# Ignore Publish output
wwwroot/
publish/
